@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;         /* #ffffff */
    --foreground: 0 0% 3.9%;         /* #0a0a0a */

    --card: 0 0% 100%;               /* #ffffff */
    --card-foreground: 0 0% 3.9%;    /* #0a0a0a */

    --popover: 0 0% 100%;            /* #ffffff */
    --popover-foreground: 0 0% 3.9%; /* #0a0a0a */

    --primary: 346 97% 79%;          /* #fe96af */
    --primary-foreground: 345 100% 4%; /* #140005 */

    --secondary: 172 61% 56%;        /* #4fcfc0 */
    --secondary-foreground: 0 0% 97%; /* #f8f8f8 */

    --muted: 0 0% 96%;               /* #f5f5f5 */
    --muted-foreground: 0 0% 45%;    /* #737373 */

    --accent: 0 0% 96%;              /* #f5f5f5 */
    --accent-foreground: 0 0% 10%;   /* #1a1a1a */

    --destructive: 0 84% 60%;        /* #ef4444 */
    --destructive-foreground: 0 0% 98%; /* #fafafa */

    --border: 0 0% 90%;              /* #e5e5e5 */
    --input: 0 0% 90%;               /* #e5e5e5 */
    --ring: 346 97% 79%;             /* #fe96af */

    --chart-1: 24 92% 47%;           /* #ea580c */
    --chart-2: 174 70% 35%;          /* #199a8e */
    --chart-3: 210 26% 31%;          /* #3b4f63 */
    --chart-4: 45 97% 59%;           /* #fbbf24 */
    --chart-5: 30 96% 61%;           /* #fb923c */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}